/* This file is for your main application css. */

@import "../../deps/phoenix_live_view/assets/css/live_view.css";

body {
  margin: 0;
}

.under-construction {
  transition: background-color 3.0s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo-box {
  margin-bottom: 10px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-a, .logo-j, .logo-circle {
  transition: fill 5.0s linear;
}

.content {
  transition: color 1.0s ease-out;
  text-align: center;
  font-family: monospace;
}
